In [1]:
print("Hello World! My name is Madison.") # simple print text

Hello World! My name is Madison.

In [4]:
print(4+3) # addition

7

In [3]:
print(2-4) # subtraction

-2

In [5]:
print(9*8) # multiplication

72

In [7]:
print(9/10) # division

0.9

In [43]:
name = "Madison likes" # string 1
day = "Mondays." # string 2
s= name + " " + day # the concatenate of two strings
print(s) # result

Madison likes Mondays.

In [28]:
fruit = ["Bannana","Apple", "Orange", "Grape"] # the original list
print(fruit) # printed checking for errors
fruit.append("Pineapple") # adding to the original
print(fruit) # final list printed

['Bannana', 'Apple', 'Orange', 'Grape']
['Bannana', 'Apple', 'Orange', 'Grape', 'Pineapple']

In [29]:
tuple = (25, "Street", 136, "Circle") # tuple with mixed datatypes
print(tuple) # result

(25, 'Street', 136, 'Circle')

In [48]:
tuplelist = (1, 2, 3, 4, 5, 6) # tuple with one datatype
print(type(tuplelist)) # checking the type is 'tuple'
print(tuplelist) # result

<class 'tuple'>
(1, 2, 3, 4, 5, 6)