### DSC540 Week 11&12
### Madison Christiansen

#### Task 1: (Connect to the supplied petsDB, and (OPTIONAL) write a function to check if the connection is done)

In [33]:
import sqlite3

In [36]:
def check_conn():
    try:
        conn = sqlite3.connect('petsdb-2')
        
        if conn is not None:
            print("Connection successful")
            conn.close()
        else:
            print("Failed.")
    except sqlite3.Error as e:
        print("Error:", e)

check_conn()

Connection successful

### Task 2: (What are the different age groups in the persons database)

In [44]:
cursor = conn.cursor()
for ppl, age in cursor.execute("select count(*), age from persons group by age"):
    print("{} people aged {}".format(ppl, age))

2 people aged 5
1 people aged 6
1 people aged 7
3 people aged 8
1 people aged 9
2 people aged 11
3 people aged 12
1 people aged 13
4 people aged 14
2 people aged 16
2 people aged 17
3 people aged 18
1 people aged 19
3 people aged 22
2 people aged 23
3 people aged 24
2 people aged 25
1 people aged 27
1 people aged 30
3 people aged 31
1 people aged 32
1 people aged 33
2 people aged 34
3 people aged 35
3 people aged 36
1 people aged 37
2 people aged 39
1 people aged 40
1 people aged 42
2 people aged 44
2 people aged 48
1 people aged 49
1 people aged 50
2 people aged 51
2 people aged 52
2 people aged 53
2 people aged 54
1 people aged 58
1 people aged 59
1 people aged 60
1 people aged 61
2 people aged 62
1 people aged 63
2 people aged 65
2 people aged 66
1 people aged 67
3 people aged 68
1 people aged 69
1 people aged 70
4 people aged 71
1 people aged 72
5 people aged 73
3 people aged 74

#### Task 3: Which age group has maximum number of people?

In [51]:
for ppl, age in cursor.execute("select count(*), age from persons group by age order by count(*)"):
    print("Most people {} are from {} agre group.".format(ppl, age))

Most people 1 are from 6 agre group.
Most people 1 are from 7 agre group.
Most people 1 are from 9 agre group.
Most people 1 are from 13 agre group.
Most people 1 are from 19 agre group.
Most people 1 are from 27 agre group.
Most people 1 are from 30 agre group.
Most people 1 are from 32 agre group.
Most people 1 are from 33 agre group.
Most people 1 are from 37 agre group.
Most people 1 are from 40 agre group.
Most people 1 are from 42 agre group.
Most people 1 are from 49 agre group.
Most people 1 are from 50 agre group.
Most people 1 are from 58 agre group.
Most people 1 are from 59 agre group.
Most people 1 are from 60 agre group.
Most people 1 are from 61 agre group.
Most people 1 are from 63 agre group.
Most people 1 are from 67 agre group.
Most people 1 are from 69 agre group.
Most people 1 are from 70 agre group.
Most people 1 are from 72 agre group.
Most people 2 are from 5 agre group.
Most people 2 are from 11 agre group.
Most people 2 are from 16 agre group.
Most people 2 are from 17 agre group.
Most people 2 are from 23 agre group.
Most people 2 are from 25 agre group.
Most people 2 are from 34 agre group.
Most people 2 are from 39 agre group.
Most people 2 are from 44 agre group.
Most people 2 are from 48 agre group.
Most people 2 are from 51 agre group.
Most people 2 are from 52 agre group.
Most people 2 are from 53 agre group.
Most people 2 are from 54 agre group.
Most people 2 are from 62 agre group.
Most people 2 are from 65 agre group.
Most people 2 are from 66 agre group.
Most people 3 are from 8 agre group.
Most people 3 are from 12 agre group.
Most people 3 are from 18 agre group.
Most people 3 are from 22 agre group.
Most people 3 are from 24 agre group.
Most people 3 are from 31 agre group.
Most people 3 are from 35 agre group.
Most people 3 are from 36 agre group.
Most people 3 are from 68 agre group.
Most people 3 are from 74 agre group.
Most people 4 are from 14 agre group.
Most people 4 are from 71 agre group.
Most people 5 are from 73 agre group.

#### Task 4: How many people do not have a full name (Last name is blank/null)

In [49]:
name = cursor.execute("select count(*) from persons where last_name is null")
for row in name:
    print("{} people do not have a full name.".format(row[0]))

60 people do not have a full name.

#### Task 5: How many people has more than one pet? (*)

In [46]:
pet = cursor.execute("select count(*) from (select count(owner_id) from pets group by owner_id having count(owner_id) >1)")
for row in pet:
    print("{} people have more than one pet.".format(row[0]))

43 people have more than one pet.

#### Task 6: How many pets have received treaments?

In [48]:
treat = cursor.execute("select count(*) from pets where treatment_done=1")
for row in treat:
    print("{} pets have revcieved treamtent.".format(row[0]))

36 pets have revcieved treamtent.

#### Task 7: How many pets have received treatment that we know the type of?

In [53]:
typ = cursor.execute("select count(*) from pets where treatment_done=1 and pet_type is not null")
for row in typ:
    print("{} pets have revcieved treamtent that we know the type of.".format(row[0]))

16 pets have revcieved treamtent that we know the type of.

#### Task 8: How many pets are there from the city called "east port"

In [55]:
east = cursor.execute("select count(*) from pets join persons on pets.owner_id = persons.id where persons.city='east port'")
for row in east:
    print("{} pets are from East Port.".format(row[0]))

49 pets are from East Port.

#### Task 9: How many pets are there from the city called "east port" and who received a treatment?

In [57]:
eastreat = cursor.execute("select count(*) from pets join persons on pets.owner_id = persons.id where persons.city='east port' and pets.treatment_done=1")
for row in eastreat:
    print("{} pets are from East Port and have recieved treatment.".format(row[0]))

11 pets are from East Port and have recieved treatment.